body,
html {
  width: 100%;
  background-color: rgb(80, 62, 5);
  height: auto;
}

/* body::after {
  content: "";
  display: flex;
  height: 10vh;
  width: 10vw;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  background: url(./logo.svg) center center no-repeat;
  background-size: 5vh;
  opacity: 0.3;
  animation: logo-spin infinite 15s linear;
  overflow: hidden;
} */

p {
  margin: 2vh;
  font-size: calc(14px + 0.5vw);
}

a {
  text-decoration: none;
  color: white;
}

.app {
  text-align: center;
  font-family: "Open Sans";
  user-select: none;
  background-color: rgb(34, 35, 41);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(12px + 0.5vw);
  color: rgb(255, 255, 255);
  padding: 8vh 0 8vh;
}

.eventify-yellow {
  color: rgb(255, 196, 0);
  font-weight: 700;
  margin: 0 2px;
}

h2 {
  color: #61fbe6;
}

h2,
h3,
h4,
h5 {
  margin: 2px 0 8px;
}

@media (max-width: 900px) {
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
